.card {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
  display: block;
  border-bottom: 1px solid #30363d;
  border-top: 1px solid #30363d;
}

.card-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #58a6ff;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

.card-name {
  font-size: 26px;
  line-height: 28px;
  font-weight: 700;
  margin: 10px 0;
}

.card-description {
  font-size: 17px;
  line-height: 22px;
  margin: 10px 0 0;
}
