.card {
  background: #FFFFFF;
  border-radius: 10px;
  position: relative;
  max-width: 90%;
  margin: 1em auto;
}

.card-title {
  font-size: 17px;
  line-height: 1em;
  font-weight: 700;
  margin: 5px 0;
  color: #2a5885;
}

.card-link {

}

.comment-text {
  font-size: 17px;
  line-height: 22px;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 10px;
}

/*.comment-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 0;
}

.comment-date {
  min-width: fit-content;
  max-width: max-content;
  font-size: 15px;
  color: #9099a3;
  line-height: 1em;
  margin: 0;
  padding: 5px 10px;
}*/
